@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');



body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-shadow: 2px 5px 50px rgba(0,0,0,.3);
}

body h1{
    font-weight: 300;
    margin: 20px 30px;
    display: inline-block;
}

#site-title{
    font-family: 'Press Start 2P', sans-serif;
    display: inline-block;
    z-index: -1;
    margin-top: -5px;
}

#main-header{
    border-bottom: 2px solid #000;
    position: relative;
    width: 100vw;
    background: rgba(255,255,255,.5);
    top: 0;
    left: 0;
}

#main-header::before{
    content: "";
    display: block;
    width: 10px;
    height: 40px;
    background: black;
    position: absolute;
    top: -8px;
}

article{
    max-width: 33%;
    display: inline-block;
    border: 2px solid #000;
    background-color: darkred;
    box-shadow: 5px 5px 50px 10px rgba(0,0,0,.3);
    transition: box-shadow 500ms, background 3s;
    /*transition-delay: 500ms;*/
}



a:hover{
    color:#a11;
}

.profile-menu{
    list-style: none;
    float: right;

}

.submenu
{
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 17px;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
    width: 300px;
    position: absolute;
    right: 10px;
    display: none;
}

.submenu.active{
    display: block;
}

.submenu a{
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: #333;
    text-shadow: none;
    font-weight: 700;
}

.submenu a:hover{
    background: #aaa;
}

[data-trigger = "dropdown"] a{
    padding-bottom: 35px;
}

section{
    max-width: 100%;
    width: 900px;
    margin: auto;
}

#context{
    margin-top: 0;
    z-index: 1;
    display: inline-block;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
    display: none;
}

.context-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu a{
    display: block;
    width: 200px;
    padding: 10px;
    color: #333;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
}

.context-menu a:hover{
    background-color: #eee;
}