@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');



body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-shadow: 2px 5px 50px rgba(0,0,0,.3);
    margin-top: 100px;
}

body h1{
    font-weight: 300;
    margin: 20px 30px;
    display: inline-block;
}

#site-title{
    font-family: 'Press Start 2P', sans-serif;
}

#main-header{
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100vw;
    background: rgba(255,255,255,.5);
    top: 0px;
    left: 0px;
}

#main-header::before{
    content: "";
    display: block;
    width: 10px;
    height: 40px;
    background: black;
    position: fixed;
    top: 14px;
}

#top-stories{
    width: 1000px;
}

article{
    max-width: 33%;
    display: inline-block;
    border: 2px solid #000;
    background-color: darkred;
    box-shadow: 5px 5px 50px 10px rgba(0,0,0,.3);
    transition: box-shadow 500ms, background 3s;
}


article:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,.7);
    background: #aaa;
}
/*article img{
    max-width: 100%;
}*/

.article-img{
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    border-bottom: 5px solid #000F00;
   /* width:200px;
    border-radius: 50px;*/
    /*Adds a circle*/
}

.more-link{
    font-style: italic;
    font-weight: 700;
}

a{
    text-decoration: underline line-through overline;
    text-decoration-style: solid;
}

p{
    letter-spacing: 1px;
    word-spacing: 2px;
    text-indent: 1px;
    text-align: center;
}

a:hover{
    color:#8f8;
}

.my-input{
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px 20px 2px 50px;
    border: 1px solid #ddd;
}

.my-input:focus{
    background: #d5ffc2;
    color: #0f8034;
    outline: none;
    border: 1px solid black;
}

article:active{
    opacity: .4;
}

.my-text{
    height: 600px;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    /*border:2px solid black;*/
}